.main-card{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: -2px -2px 4px rgb(178, 173, 173);
    border-radius: 5px;
    margin-right: 0.5rem;
    margin-bottom: 1.5rem;
}

.card-image{
    width: 270px;
    height: 250px;
    overflow: hidden;
    position: relative;
}
.card-image img{
    width: 270px;
    height: 250px;
    position: absolute;
    top: 0;
    z-index: -10;
}
.card-title{
    padding: .5rem;
    font-weight: bold;
    background-color: rgba(220, 220, 220, 0.5);
    width: fit-content;
}

.card-content{
    width: 270px;
    display: flex;
    justify-content: space-between;
}

.card-content h2{
    font-size: 1.3rem;
}

.card-content button{
    padding: 5px 8px;
    border: none;
    width: fit-content;
    background-color: rgb(58, 57, 57); 
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}
.card-content button:hover{
    background-color: black;
}