.cart-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cart-header{
    padding: 1.5rem 0;
}

.cart-list{
    width: 50%;
    box-shadow: -2px -2px 4px rgb(178, 173, 173);
    padding: 1rem;
}

.total-amount{
    display: flex;
    margin-top: 1rem;
    border-top: 2px solid black;
    justify-content: center;
    padding: 1rem ;
}
.total-amount h3:last-child{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 1.5rem;
}
.empty-cart{
    text-align: center;
}
@media only screen and (max-width: 450px){
    .cart-list{
        width: 95%;
        padding: 0.5rem;
    }
}

@media screen and (min-width: 450px) and (max-width: 600px){
    .cart-list{
        width: 80%;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px){
    .cart-list{
        width: 65%;
    }
}