.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    text-align: center;
  }
  
  .error-page h1 {
    font-size: 2rem;
    color: #e74c3c; 
  }
  
  .error-page p {
    font-size: 1rem;
    color: #333; 
  }
  